* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #2f2f2f;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    color: azure;
    font-weight: bold;

    height: 150px;
}

#calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 550px;
    width: 450px;
}

.result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 75px;

    border: 1px solid red;
}

.result div {
    display: flex;

    height: 50px;
    width: 450px;
    justify-content: flex-end;
    font-size: 35px;
    padding-right: 15px;
}

.operations {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 495px;
    width: 450px;
    border: 1px solid red;
}

.buttons {
    display: flex;
    flex-direction: column;

    height: 400px;
    width: 400px;
}

.buttons div {
    display: flex;
    flex-basis: 100%;
    padding: 5px;
    gap: 20px;
}

.buttons div button {
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: 25px;
    font-weight: bold;
    color: goldenrod;
    background-color: #2f2f2f;
    
    border: 1px solid red;
}



footer {
    display: flex;
    position: sticky;
    top: 100%;
    color: aliceblue;
    background-color: black;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    width: 100%;
}